# Dependencies
node_modules/

# Next.js
.next/
out/

# Optional build output
build/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files
.env*

# Vercel deployment
.vercel/

# AWS Amplify
amplify/
.amplifyrc
amplify-meta.json

# TypeScript
*.tsbuildinfo
next-env.d.ts

# System files
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Public cache (optional)
public/cache/

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
