# Dependencies
node_modules/

# Next.js
.next/
out/

# Optional build output
build/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files
.env*

# Vercel deployment
.vercel/

# TypeScript
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.idea/
*.swp

# Public cache (optional)
public/cache/
